*{
    margin: 0;
    padding: 0;
    box-sizing : border-box ;

}
body {
   font-family: ' Fredoka', ' Nunito';
   font-size: 16px;
   line-height: 1.8;
   color:#000000;
   background-color: #d5f0f7;
}
h1,h2,h3, .logo {
    font-family: ' Playfair Display' , serif; 
    font-weight:700 ;
    color:#182436;
}

a { 
    text-decoration: none;
    color: #182436 ;
}

.container {
    width: 90%; 
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto; 
}
.site-header .container { 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}
.site-header {
    padding: 1rem 0;
    background-color:  #A3DC00;
    border-bottom: 1px solid #e0e0e0;
}
.logo {
    font-size: 2.5rem ;
}

.main-nav ul { 
    display: flex;
    list-style: none;
}
.main-nav li {
    margin-right: 20px;
    display: inline-block;
    margin-left: 20px;
}

.main-nav a {
    font-weight: 700;
}

#hero {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://wallpapercave.com/wp/wp1826906.jpg);
    background-size: cover;
    background-position: center;
    color:#ffffff ;
    padding: 150px 0;
    text-align: center;

 }

 #hero h1{
    color:#ffffff;
    font-size: 3.5em;
    margin-bottom: 1rem;

 }
#hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.btn {
    background-color:#A3DC00;
    color:#182436;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 700;
    display: inline-block;
}

#story, #menu, #contact {
    padding: 80px 0;
    text-align: center;
}

#menu {
    background-color: #ffffff;
}

h2 {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
}